target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### WEATHER_API_KEY ###
.env

### airports.csv ###
storage/references/airports.csv

### pending_flight_links.txt ###
storage/data/pending_flight_links.txt

### Weather Database ###
storage/db/weather.db

### Flights Database ###
storage/db/skydelay.db

### Datamart ###
storage/db/datamart.db

### EventStore ###
eventstore/flight/flight-feeder/*.events
eventstore/weather/weather-feeder/*.events
eventstore/forecast/weather-feeder/*.events

### Logs ###
logs/skydelay.log

### Reports ###
reports/*.txt

### Others ###
user-data-dir/
.idea/db-forest-config.xml
